body {
    background-color: #ebeeff;
}

#titulonavbar {
    color: #ebeeff;
}

.nav-link {
    color: #ebeeff;
}

.grande{
    background-color: #5563AC;
    height: 80px;
    border-radius: 20px;
}

.d-flex {
    width: 350px;
    margin-right: 250px;
}


.logo{
    width: 170px;
    margin-top:0%;
    margin-left:0.5%;
}


h1{
    color: white;
    font-family: 'Indivisa' Arial, Helvetica, sans-serif;
    padding-top: 2.5%;
}

.login{
    margin-top: 40px;
    background-color: #48569E;
    width: 500px;
    height: 550px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.usuario{
    margin-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
}

.psw{
    margin-top: 8%;
    padding-left: 2%;
    padding-right: 2%;

}

.btnlogin{
    margin-top: 2%;
    position: absolute;
    top: 70%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #5F6FC5;
    color: #ebeeff;
    
}

#btnnav {
    width: 150px!important;
    height: 40px!important;
    border-color: #5F6FC5;
    background-color: #5F6FC5;
    color: #ebeeff;
    margin-left: 500px;
    margin-top: -15px;
}

#label1 {
    color: #ebeeff;
    margin-bottom: -20px;
}

#label2 {
    color: #ebeeff;
}